---
import hero1 from "@/assets/hero/hero1.webp";
import hero2 from "@/assets/hero/hero2.webp";
import hero3 from "@/assets/hero/hero3.webp";
import hero4 from "@/assets/hero/hero4.webp";
import hero5 from "@/assets/hero/hero5.webp";
import Image from "astro/components/Image.astro";
---

<article class:list={["w-full", Astro.props.class]}>
  <div class="flex items-center justify-center gap-6">
    <div class="p-px rounded-2xl w-[180px] h-[180px] md:w-[200px] md:h-[200px]">
      <Image
        src={hero1}
        class="object-cover p-px rounded-[calc(1.5rem-1px)] bg-gradient-to-b from-green-500 to-black"
        alt="A description of my image."
      />
    </div>
    <div class="p-px rounded-2xl w-[180px] h-[280px] md:w-[200px] md:h-[300px]">
      <Image
        src={hero2}
        class="object-cover h-full p-px rounded-[calc(1.5rem-1px)] bg-gradient-to-b from-green-500 to-black"
        alt="A description of my image."
      />
    </div>
    <div class="p-px rounded-2xl w-[180px] h-[180px] md:w-[200px] md:h-[200px]">
      <Image
        src={hero3}
        class="object-cover p-px rounded-[calc(1.5rem-1px)] bg-gradient-to-b from-green-500 to-black"
        alt="A description of my image."
      />
    </div>
    <div
      class="p-px rounded-2xl w-[180px] h-[280px] md:w-[200px] md:h-[300px] hidden xl:block"
    >
      <Image
        src={hero4}
        class="object-cover h-full p-px rounded-[calc(1.5rem-1px)] bg-gradient-to-b from-green-500 to-black"
        alt="A description of my image."
      />
    </div>
    <div
      class="p-px rounded-2xl w-[180px] h-[180px] md:w-[200px] md:h-[200px] hidden xl:block"
    >
      <Image
        src={hero5}
        class="object-cover h-full p-px rounded-[calc(1.5rem-1px)] bg-gradient-to-b from-green-500 to-black"
        alt="A description of my image."
      />
    </div>
  </div>
</article>
