---
import hero1 from "@/assets/hero/hero1.webp";
import hero2 from "@/assets/hero/hero2.webp";
import hero3 from "@/assets/hero/hero3.webp";
import hero4 from "@/assets/hero/hero4.webp";
import hero5 from "@/assets/hero/hero5.webp";
import Image from "astro/components/Image.astro";
---

<article class:list={["w-full", Astro.props.class]}>
  <div class="flex items-center justify-center gap-6">
    <Image
      src={hero1}
      class="w-[160px] h-[160px] lg:w-[250px] lg:h-[350px] object-cover border border-green-800 rounded-xl"
      alt="A description of my image."
    />
    <Image
      src={hero2}
      class="w-[160px] h-[280px] lg:w-[250px] lg:h-[250px] object-cover border border-green-800 rounded-xl"
      alt="A description of my image."
    />
    <Image
      src={hero3}
      class="w-[160px] h-[160px] lg:w-[250px] lg:h-[350px] object-cover border border-green-800 rounded-xl"
      alt="A description of my image."
    />
    <Image
      src={hero4}
      class="w-[160px] h-[280px] lg:w-[250px] lg:h-[250px] object-cover border border-green-800 rounded-xl hidden lg:block"
      alt="A description of my image."
    />
    <Image
      src={hero5}
      class="w-[160px] h-[160px] lg:w-[250px] lg:h-[350px] object-cover border border-green-800 rounded-xl hidden lg:block"
      alt="A description of my image."
    />
  </div>
</article>
